.component-background { 
  min-height: 100vh; 
  background-color: #001131; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

.weather-card {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #ff0000;
  box-shadow: 0 4px 12px rgb(246, 255, 0);
  text-align: center;
}

.weather-input {
  width: 70%;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.weather-button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background-color: #4a90e2;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.weather-button:hover {
  background-color: #357ab8;
}

.weather-info {
  margin-top: 20px;
}

.weather-location {
  margin-bottom: 10px;
  color: #000000;
}

.weather-detail {
  margin: 5px 0;
  font-size: 20px;
  color: #000000;
}
